<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="/components/avatars/avatars.css">
    <title>Avatars</title>
</head>

<body>

    <!--Round Image Avatars Below -->

    <img class="w-15 h-15 rounded-full" src="https://i.pravatar.cc/" alt="avatar">

    <img class="w-10 h-10 rounded-full" src="https://i.pravatar.cc/" alt="avatar">

    <img class="w-7 h-7 rounded-full" src="https://i.pravatar.cc/" alt="avatar">

    <img class="w-5 h-5 rounded-full" src="https://i.pravatar.cc/" alt="avatar">

    <img class="w-3 h-3 rounded-full" src="https://i.pravatar.cc/" alt="avatar">


    <!--Sqaure Image Avatars Below -->

    <img class="w-15 h-15" src="https://i.pravatar.cc/?" alt="avatar">

    <img class="w-10 h-10" src="https://i.pravatar.cc/?" alt="avatar">

    <img class="w-7 h-7" src="https://i.pravatar.cc/?" alt="avatar">

    <img class="w-5 h-5" src="https://i.pravatar.cc/?" alt="avatar">

    <img class="w-3 h-3" src="https://i.pravatar.cc/?" alt="avatar">


    <!-- Round Text Avatars Below -->

    <div class="avatar-text w-15 h-15 rounded-full text-xxxl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-10 h-10 rounded-full text-xxl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-7 h-7 rounded-full text-xl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-5 h-5 rounded-full text-lg flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-3 h-3 rounded-full text-sm flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>


    <!--Sqaure Text Avatars Below -->

    <div class="avatar-text w-15 h-15 text-xxxl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-10 h-10 text-xxl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-7 h-7 text-xl flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-5 h-5 text-lg flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

    <div class="avatar-text w-3 h-3 text-sm flex-row flex-justify-center flex-align-center" role="img" alt="avatar">RR</div>

</body>

</html>