<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="/Components/Typography/typography.css">
    <title>Typography</title>
</head>

<body>


    <!-- Headings -->

    <p class="h1 mx-1 my-0-5 font-bold">Example of Heading - 1</p>
    <p class="h2 mx-1 my-0-5 font-bold">Example of Heading - 2</p>
    <p class="h3 mx-1 my-0-5 font-bold">Example of Heading - 3</p>
    <p class="h4 mx-1 my-0-5 font-bold">Example of Heading - 4</p>
    <p class="h5 mx-1 my-0-5 font-bold">Example of Heading - 5</p>
    <p class="h6 mx-1 my-0-5 font-bold">Example of Heading - 6</p>

    <!-- Text Sizes -->

    <p class="text-xs font-regular mx-1 my-0-5">Extra Small Text</p>
    <p class="text-sm font-regular mx-1 my-0-5">Small Text</p>
    <p class="text-md font-regular mx-1 my-0-5">Medium Text</p>
    <p class="text-lg font-regular mx-1 my-0-5">Large Text</p>
    <p class="text-xl font-regular mx-1 my-0-5">Extra Large Text</p>


    <!-- Text Positions -->

    <p class="text-left text-md font-regular mx-1 my-0-5">Left Aligned Text</p>
    <p class="text-center text-md font-regular mx-1 my-0-5">Center Aligned Text</p>
    <p class="text-right text-md font-regular mx-1 my-0-5">Right Aligned Text</p>



<!-- Colored Text -->

<p class="text-color-primary text-md font-regular mx-1 my-0-5">Primary Colored Text Example</p>
<p class="text-color-secondary text-md font-regular mx-1 my-0-5">Secondary Colored Text Example</p>
<p class="text-color-success text-md font-regular mx-1 my-0-5">Success Colored Text Example</p>
<p class="text-color-warning text-md font-regular mx-1 my-0-5">Warning Colored Text Example</p>
<p class="text-color-error text-md font-regular mx-1 my-0-5">Error Colored Text Example</p>

</body>

</html>