<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/buttons/buttons.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>

    <title>Buttons</title>
</head>
<body>
    <button class="btn btn-primary mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-md">
        Primary Button
    </button>

    <button class="btn btn-secondary mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-md">
        Secondary Button
    </button>

    <a class="btn btn-link mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-md"href="#">Link Button</a>

    <button class="btn btn-icon mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-md">
        <i class="fa-solid fa-cart-shopping text-lg"></i>
    </button>

    <button class="btn btn-primary mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-md">
        <i class="icon-in-btn fa-solid fa-cart-plus text-md mr-0-5"></i>
        Add to Cart
    </button>

    <button class="btn btn-fab mx-1 my-0-5 px-0-75 py-0-5 rounded-sm text-xl">
        <i class="fa-solid fa-circle-plus"></i>
    </button>

    <a class="btn btn-link-naked mx-1 my-1 p-0-5 text-md" href="#">Naked Link Button</a>

    <a class="btn btn-link-animated-1 mx-1 my-0-5 p-0-5 text-md" href="#">Link Animation Button</a>

    <a class="btn btn-link-animated-2 mx-1 my-0-5 p-0-5 text-md" href="#">Link Animation Button 2</a>

    <a class="btn btn-link-animated-3 mx-1 my-0-5 p-0-5 text-md" href="#">Link Animation Button 3</a>
</body>
</html>