<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="./toast.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Toasts</title>
</head>

<body>

    <!-- Success Toast -->

    <div class="toast toast-success fixed w-fit px-2 py-1 rounded-md">
        Successfully Submitted!!
        <button type="button" class="btn">
            <i class="fa-solid fa-xmark fa-xl ml-3"></i>
        </button>
    </div>

    <!-- Error Toast -->

    <div class="toast toast-error fixed w-fit px-2 py-1 rounded-md">
        Error! Please try again!
        <button type="button" class="btn">
            <i class="fa-solid fa-xmark fa-xl ml-3"></i>
        </button>
    </div>

    <!-- Warning Toast -->

    <div class="toast toast-warning fixed w-fit px-2 py-1 rounded-md">
        Warning! Please Enter Valid Details!
        <button type="button" class="btn">
            <i class="fa-solid fa-xmark fa-xl ml-3"></i>
        </button>
    </div>

    <!-- Inform Toast -->

    <div class="toast toast-inform fixed w-fit px-2 py-1 rounded-md">
        Connecting......
        <button type="button" class="btn">
            <i class="fa-solid fa-xmark fa-xl ml-3"></i>
        </button>
    </div>

</body>

</html>