<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="./ratings.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Ratings</title>
</head>

<body>

    <!-- Rating- input element-->

    <div class="rating-star-container m-0-5 px-1 py-0-5 w-fit">
        <label>
            <input class="rating-star-input" type="checkbox" checked>
            <i class="fas fa-star rating-star-icon"></i>
        </label>
        <label>
            <input class="rating-star-input" type="checkbox" checked>
            <i class="fas fa-star rating-star-icon"></i>
        </label>
        <label>
            <input class="rating-star-input" type="checkbox" checked>
            <i class="fas fa-star rating-star-icon"></i>
        </label>
        <label>
            <input class="rating-star-input" type="checkbox">
            <i class="fas fa-star rating-star-icon"></i>
        </label>
        <label>
            <input class="rating-star-input" type="checkbox">
            <i class="fas fa-star rating-star-icon"></i>
        </label>
    </div>

    <!-- Rating badge, read only -->

    <div class="rating-badge w-fit text-sm-2 m-0-5 px-0-5 py-0-25 flex-row flex-justify-center flex-align-center flex-gap-0-5">
        <span>4</span>
        <span class="rating-badge-star">
            <i class="fas fa-star"></i>
        </span>
    </div>

</body>

</html>