<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="./slider.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Slider</title>
</head>

<body>

    <div class="w-20">
        <label class="slider-track relative h-3 w-full" for="range">
            <input class="slider relative h-3 w-full" type="range" name="range" id="range" min="0" max="150" value="15"/>
        </label>
    </div>

    <!-- slider-with-icon -->
    <div class="flex-row flex-wrap flex-justify-center flex-align-center w-fit">
        <label class="mx-1" for="range"><i class="fas fa-volume-up"></i></label>
        <input type="range" name="range" id="range" min="0" max="100" value="30" />
    </div>

</body>

</html>