<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="./cards.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Cards</title>
</head>

<body>

    <!-- Card Basic -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-23 m-1 rounded-md">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="w-full h-60-pc rounded-inherit">
        <p class=" mx-0-75 my-0-5 h3">Artistic Weapon</p>
        <p class="card-subtitle mx-0-75 h6">Indian Mother's/Gf's Brahmastra</p>
        <p class="card-para mx-0-75 my-1-5 text-sm-2">Will hit best when aimed for head with pointed heel.</p>
        <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
            <div>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Buy</button>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Add to Cart</button>
            </div>
            <div>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Card with Badge -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-23 m-1 rounded-md">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="w-full h-60-pc rounded-inherit">
        <p class=" mx-0-75 my-0-5 h3">Artistic Weapon</p>
        <p class="card-subtitle mx-0-75 h6">Indian Mother's/Gf's Brahmastra</p>
        <p class="card-para mx-0-75 my-1-5 text-sm-2">Will hit best when aimed for head with pointed heel.</p>
        <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
            <div>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Buy</button>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Add to Cart</button>
            </div>
            <div>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
        <span class="card-badge text-badge-highlight m-0-25 px-0-75 py-0-25 rounded-md text-md w-fit absolute">New</span>
    </div>

    <!-- Card with Dismiss -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-23 m-1 rounded-md">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="w-full h-60-pc rounded-inherit">
        <p class=" mx-0-75 my-0-5 h3">Artistic Weapon</p>
        <p class="card-subtitle mx-0-75 h6">Indian Mother's/Gf's Brahmastra</p>
        <p class="card-para mx-0-75 my-1-5 text-sm-2">Will hit best when aimed for head with pointed heel.</p>
        <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
            <div>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Buy</button>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Add to Cart</button>
            </div>
            <div>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
        <button class="card-dismiss-button card-button absolute text-lg"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>

    <!-- Card with Text Overlay -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-23 m-1 rounded-md">
        <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="w-full h-60-pc rounded-inherit">
        <p class=" mx-0-75 my-0-5 h3">Artistic Weapon</p>
        <p class="card-subtitle mx-0-75 h6">Indian Mother's/Gf's Brahmastra</p>
        <p class="card-para mx-0-75 my-1-5 text-sm-2">Will hit best when aimed for head with pointed heel.</p>
        <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
            <div>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Buy</button>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Add to Cart</button>
            </div>
            <div>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
        <div class="card-text-overlay-container absolute flex-row flex-justify-center flex-align-center w-full h-full rounded-inherit">
            <p class="text-xl">Sold Out</p>
        </div>
        
    </div>

    <!-- Card with Text Only -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-25 m-1 rounded-md">
        <div class="m-0-5">
            <p class=" mx-0-75 my-0-5 h3">Black Holes</p>
            <p class="card-subtitle mx-0-75 h6">Black Holes deep dive!</p>
            <p class="card-para mx-0-75 my-1-5 text-sm-2">Black Holes are really really black like for real.</p>
            <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
                <div>
                    <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Read</button>
                    <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Bookmark</button>
                </div>
                <div>
                    <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                        <i class="fa-solid fa-share-nodes"></i>
                    </button>
                    <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                </div>
            </div>
            <button class="card-dismiss-button card-button absolute text-lg"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
    </div>

    <!-- Card with Horizontal Layout -->

    <div class="card-container relative flex-col flex-justify-start h-fit w-40 m-1 rounded-md">
        <div class="flex-row flex-justify-start w-fit">
            <img src="/Assets/girlShoes1.jpg" alt="Product-Image" class="w-40-pc rounded-md">
            <div>
                <p class=" mx-0-75 my-0-5 h3">Artistic Weapon</p>
                <p class="card-subtitle mx-0-75 h6">Indian Mother's/Gf's Brahmastra</p>
                <p class="card-para mx-0-75 my-1-5 text-sm-2">Will hit best when aimed for head with pointed heel.</p>
            </div>
        </div>
        <div class="flex-row flex-justify-between flex-align-center mx-0-75 my-0-5">
            <div>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Buy</button>
                <button class="card-button m-0 p-0-5 font-bold text-md rounded-sm">Add to Cart</button>
            </div>
            <div>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-share-nodes"></i>
                </button>
                <button class="card-button mr-0-25 p-0-25 text-md rounded-sm">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
        <button class="card-dismiss-button card-button absolute text-lg"><i class="fa-regular fa-circle-xmark"></i></button>
    </div>
    
</body>

</html>