<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Rishabh Rathore">
    <link rel="stylesheet" href="./lists.css">
    <title>Lists</title>
</head>

<body>

    <!-- Spaced List -->

    <ul class="list-spaced m-2 p-1">
        <p class="list-heading h4">List Heading</p>
        <li class="list-item text-md">List Item 1</li>
        <li class="list-item text-md">List Item 2</li>
        <li class="list-item text-md">List Item 3</li>
        <li class="list-item text-md">List Item 4</li>
        <li class="list-item text-md">List Item 5</li>
    </ul>
    <br>

    <!-- Inline List -->

    <ul class="flex-row text-md">
        <li class="m-1">List Item 1</li>
        <li class="m-1">List Item 2</li>
        <li class="m-1">List Item 3</li>
    </ul>
    <br>

    <!-- Stacked Lists -->

    <!-- list with numbers -->

    <ol class="ordered-list m-2 p-1 text-md">
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
        <li>List item with numbers</li>
    </ol>
    <br>

    <!-- Reverse Stacked List -->

    <ol class="stacked-list m-2 p-2 text-md" reversed>
        <li>Reversed list item 1</li>
        <li>Reversed list item 2</li>
        <li>Reversed list item 3</li>
        <li>Reversed list item 4</li>
        <li>Reversed list item 5</li>
    </ol>

</body>

</html>