/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap-0-5 {
    gap: 0.5rem;
}

.flex-gap-1 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 2rem;
}

.flex-gap-3 {
    gap: 3rem;
}

.flex-gap-4 {
    gap: 4rem;
}

.flex-gap-5 {
    gap: 5rem;
}

/* Grids */

.grid {
    display: grid;
}

.grid-col-autofit-w-25 {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
}

/* Grid Columns */

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

/* Grid Rows */

.grid-rows-1 {
    grid-template-rows: repeat(1, 1fr);
}

.grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.grid-rows-4 {
    grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
    grid-template-rows: repeat(5, 1fr);
}

/* Gaps Common for Grid and Flex */

.gap-0-5 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

/* Grid Alignment */

.grid-align-items-center {
    align-items: center;
}

/* Column Spans, Start, End */

.grid-col-span-auto {
    grid-column: auto;
}

.grid-col-span-full {
    grid-column: 1 / -1;
}

.grid-col-start-auto {
    grid-column-start: auto;
}

.grid-col-end-auto {
    grid-column-end: auto;
}

.grid-col-span-1 {
    grid-column: span 1 / span 1;
}

.grid-col-span-2 {
    grid-column: span 2 / span 2;
}

.grid-col-span-3 {
    grid-column: span 3 / span 3;
}

.grid-col-span-4 {
    grid-column: span 4 / span 4;
}

.grid-col-span-5 {
    grid-column: span 5 / span 5;
}

.grid-col-span-6 {
    grid-column: span 6 / span 6;
}

.grid-col-start-1 {
    grid-column-start: 1;
}

.grid-col-start-2 {
    grid-column-start: 2;
}

.grid-col-start-3 {
    grid-column-start: 3;
}

.grid-col-start-4 {
    grid-column-start: 4;
}

.grid-col-start-5 {
    grid-column-start: 5;
}

.grid-col-start-6 {
    grid-column-start: 6;
}

.grid-col-end-1 {
    grid-column-end: 1;
}

.grid-col-end-2 {
    grid-column-end: 2;
}

.grid-col-end-3 {
    grid-column-end: 3;
}

.grid-col-end-4 {
    grid-column-end: 4;
}

.grid-col-end-5 {
    grid-column-end: 5;
}

.grid-col-end-6 {
    grid-column-end: 6;
}

/* Display Utilities*/

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.contents {
    display: contents;
}

/* Border-radii */

.rounded-none {
    border-radius: var(--br-0);
}

.rounded-inherit {
    border-radius: inherit;
}

/* For pill buttons */
.rounded-full {
    border-radius: var(--br-max);
}

.rounded-circle {
    border-radius: var(--br-50);
}

.rounded-xs {
    border-radius: var(--br-xs);
}

.rounded-sm {
    border-radius: var(--br-sm);
}

.rounded-md {
    border-radius: var(--br-md);
}

.rounded-lg {
    border-radius: var(--br-lg);
}

.rounded-xl {
    border-radius: var(--br-xl);
}
