@import url(../../all-imports.css);


.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.h-max {
    height: max-content;
}

.h-min {
    height: min-content;
}

.h-fit {
    height: fit-content;
}

.h-screen {
    height: 100vh;
}

.h-px {
    height: 1px;
}

.h-0-25 {
    height: 0.25rem;
}

.h-0-5 {
    height: 0.50rem;
}

.h-0-75 {
    height: 0.75rem;
}

.h-1 {
    height: 1rem;
}

.h-1-25 {
    height: 1.25rem;
}

.h-1-5 {
    height: 1.50rem;
}

.h-1-75 {
    height: 1.75rem;
}

.h-2 {
    height: 2rem;
}

.h-2-25 {
    height: 2.25rem;
}

.h-2-5 {
    height: 2.50rem;
}

.h-2-75 {
    height: 2.75rem;
}

.h-3 {
    height: 3rem;
}

.h-3-25 {
    height: 3.25rem;
}

.h-3-5 {
    height: 3.50rem;
}

.h-3-75 {
    height: 3.75rem;
}

.h-4 {
    height: 4rem;
}

.h-4-25 {
    height: 4.25rem;
}

.h-4-5 {
    height: 4.50rem;
}

.h-4-75 {
    height: 4.75rem;
}

.h-5 {
    height: 5rem;
}

.h-5-25 {
    height: 5.25rem;
}

.h-5-5 {
    height: 5.50rem;
}

.h-5-75 {
    height: 5.75rem;
}

.h-6 {
    height: 6rem;
}

.h-6-25 {
    height: 6.25rem;
}

.h-6-5 {
    height: 6.50rem;
}

.h-6-75 {
    height: 6.75rem;
}

.h-7 {
    height: 7rem;
}

.h-7-25 {
    height: 7.25rem;
}

.h-7-5 {
    height: 7.50rem;
}

.h-7-75 {
    height: 7.75rem;
}

.h-8 {
    height: 1rem;
}

.h-8-25 {
    height: 8.25rem;
}

.h-8-5 {
    height: 8.50rem;
}

.h-8-75 {
    height: 8.75rem;
}

.h-9 {
    height: 9rem;
}

.h-9-25 {
    height: 9.25rem;
}

.h-9-5 {
    height: 9.50rem;
}

.h-9-75 {
    height: 9.75rem;
}

.h-10 {
    height: 10rem;
}

.h-10-25 {
    height: 10.25rem;
}

.h-10-5 {
    height: 10.50rem;
}

.h-10-75 {
    height: 10.75rem;
}

.h-11 {
    height: 11rem;
}

.h-11-25 {
    height: 11.25rem;
}

.h-11-5 {
    height: 11.50rem;
}

.h-11-75 {
    height: 11.75rem;
}

.h-12 {
    height: 12rem;
}

.h-12-25 {
    height: 12.25rem;
}

.h-12-5 {
    height: 12.50rem;
}

.h-12-75 {
    height: 12.75rem;
}

.h-13 {
    height: 13rem;
}

.h-13-25 {
    height: 13.25rem;
}

.h-13-5 {
    height: 13.50rem;
}

.h-13-75 {
    height: 13.75rem;
}

.h-14 {
    height: 14rem;
}

.h-14-25 {
    height: 14.25rem;
}

.h-14-5 {
    height: 14.50rem;
}

.h-14-75 {
    height: 14.75rem;
}

.h-15 {
    height: 15rem;
}

.h-15-25 {
    height: 15.25rem;
}

.h-15-5 {
    height: 15.50rem;
}

.h-15-75 {
    height: 15.75rem;
}

.h-16 {
    height: 16rem;
}

.h-16-25 {
    height: 16.25rem;
}

.h-16-5 {
    height: 16.50rem;
}

.h-16-75 {
    height: 16.75rem;
}

.h-17 {
    height: 17rem;
}

.h-17-25 {
    height: 17.25rem;
}

.h-17-5 {
    height: 17.50rem;
}

.h-17-75 {
    height: 17.75rem;
}

.h-18 {
    height: 18rem;
}

.h-18-25 {
    height: 18.25rem;
}

.h-18-5 {
    height: 18.50rem;
}

.h-18-75 {
    height: 18.75rem;
}

.h-19 {
    height: 19rem;
}

.h-19-25 {
    height: 19.25rem;
}

.h-19-5 {
    height: 19.50rem;
}

.h-19-75 {
    height: 19.75rem;
}

.h-20 {
    height: 20rem;
}

.h-20-25 {
    height: 20.25rem;
}

.h-20-5 {
    height: 20.50rem;
}

.h-20-75 {
    height: 20.75rem;
}

.h-21 {
    height: 21rem;
}

.h-21-25 {
    height: 21.25rem;
}

.h-21-5 {
    height: 21.50rem;
}

.h-21-75 {
    height: 21.75rem;
}

.h-22 {
    height: 22rem;
}

.h-22-25 {
    height: 22.25rem;
}

.h-22-5 {
    height: 22.50rem;
}

.h-22-75 {
    height: 22.75rem;
}

.h-23 {
    height: 23rem;
}

.h-23-25 {
    height: 23.25rem;
}

.h-23-5 {
    height: 23.50rem;
}

.h-23-75 {
    height: 23.75rem;
}

.h-24 {
    height: 24rem;
}

.h-24-25 {
    height: 24.25rem;
}

.h-24-5 {
    height: 24.50rem;
}

.h-24-75 {
    height: 24.75rem;
}

.h-25 {
    height: 25rem;
}

.h-25-25 {
    height: 25.25rem;
}

.h-25-5 {
    height: 25.50rem;
}

.h-25-75 {
    height: 25.75rem;
}

.h-26 {
    height: 26rem;
}

.h-26-25 {
    height: 26.25rem;
}

.h-26-5 {
    height: 26.50rem;
}

.h-26-75 {
    height: 26.75rem;
}

.h-27 {
    height: 27rem;
}

.h-27-25 {
    height: 27.25rem;
}

.h-27-5 {
    height: 27.50rem;
}

.h-27-75 {
    height: 27.75rem;
}

.h-28 {
    height: 28rem;
}

.h-28-25 {
    height: 28.25rem;
}

.h-28-5 {
    height: 28.50rem;
}

.h-28-75 {
    height: 28.75rem;
}

.h-29 {
    height: 29rem;
}

.h-29-25 {
    height: 29.25rem;
}

.h-29-5 {
    height: 29.50rem;
}

.h-29-75 {
    height: 29.75rem;
}

.h-30 {
    height: 30rem;
}

.h-30-25 {
    height: 30.25rem;
}

.h-30-5 {
    height: 30.50rem;
}

.h-30-75 {
    height: 30.75rem;
}

.h-31 {
    height: 31rem;
}

.h-31-25 {
    height: 31.25rem;
}

.h-31-5 {
    height: 31.50rem;
}

.h-31-75 {
    height: 31.75rem;
}

.h-32 {
    height: 32rem;
}

.h-32-25 {
    height: 32.25rem;
}

.h-32-5 {
    height: 32.50rem;
}

.h-32-75 {
    height: 32.75rem;
}

.h-33 {
    height: 33rem;
}

.h-33-25 {
    height: 33.25rem;
}

.h-33-5 {
    height: 33.50rem;
}

.h-33-75 {
    height: 33.75rem;
}

.h-34 {
    height: 24rem;
}

.h-34-25 {
    height: 34.25rem;
}

.h-34-5 {
    height: 34.50rem;
}

.h-34-75 {
    height: 34.75rem;
}

.h-35 {
    height: 35rem;
}

.h-35-25 {
    height: 35.25rem;
}

.h-35-5 {
    height: 35.50rem;
}

.h-35-75 {
    height: 35.75rem;
}

.h-36 {
    height: 36rem;
}

.h-36-25 {
    height: 36.25rem;
}

.h-36-5 {
    height: 36.50rem;
}

.h-36-75 {
    height: 36.75rem;
}

.h-37 {
    height: 37rem;
}

.h-37-25 {
    height: 37.25rem;
}

.h-37-5 {
    height: 37.50rem;
}

.h-37-75 {
    height: 37.75rem;
}

.h-38 {
    height: 38rem;
}

.h-38-25 {
    height: 38.25rem;
}

.h-38-5 {
    height: 38.50rem;
}

.h-38-75 {
    height: 38.75rem;
}

.h-39 {
    height: 39rem;
}

.h-39-25 {
    height: 39.25rem;
}

.h-39-5 {
    height: 39.50rem;
}

.h-39-75 {
    height: 39.75rem;
}

.h-40 {
    height: 40rem;
}

.h-40-25 {
    height: 40.25rem;
}

.h-40-5 {
    height: 40.50rem;
}

.h-40-75 {
    height: 40.75rem;
}

.h-41 {
    height: 24rem;
}

.h-41-25 {
    height: 41.25rem;
}

.h-41-5 {
    height: 41.50rem;
}

.h-41-75 {
    height: 41.75rem;
}

.h-42 {
    height: 42rem;
}

.h-42-25 {
    height: 42.25rem;
}

.h-42-5 {
    height: 42.50rem;
}

.h-42-75 {
    height: 42.75rem;
}

.h-43 {
    height: 24rem;
}

.h-43-25 {
    height: 43.25rem;
}

.h-43-5 {
    height: 43.50rem;
}

.h-43-75 {
    height: 43.75rem;
}

.h-44 {
    height: 44rem;
}

.h-44-25 {
    height: 44.25rem;
}

.h-44-5 {
    height: 44.50rem;
}

.h-44-75 {
    height: 44.75rem;
}

.h-45 {
    height: 45rem;
}

.h-45-25 {
    height: 45.25rem;
}

.h-45-5 {
    height: 45.50rem;
}

.h-45-75 {
    height: 45.75rem;
}

.h-46 {
    height: 46rem;
}

.h-46-25 {
    height: 46.25rem;
}

.h-46-5 {
    height: 46.50rem;
}

.h-46-75 {
    height: 46.75rem;
}

.h-47 {
    height: 47rem;
}

.h-47-25 {
    height: 47.25rem;
}

.h-47-5 {
    height: 47.50rem;
}

.h-47-75 {
    height: 47.75rem;
}

.h-48 {
    height: 48rem;
}

.h-48-25 {
    height: 48.25rem;
}

.h-48-5 {
    height: 48.50rem;
}

.h-48-75 {
    height: 48.75rem;
}

.h-49 {
    height: 49rem;
}

.h-49-25 {
    height: 49.25rem;
}

.h-49-5 {
    height: 49.50rem;
}

.h-49-75 {
    height: 49.75rem;
}

.h-50 {
    height: 50rem;
}

/* Percentage Values */

.h-10-pc {
    height: 10%;
}

.h-20-pc {
    height: 20%;
}

.h-30-pc {
    height: 30%;
}

.h-40-pc {
    height: 40%;
}

.h-50-pc {
    height: 50%;
}

.h-60-pc {
    height: 60%;
}

.h-70-pc {
    height: 70%;
}

.h-80-pc {
    height: 80%;
}

.h-90-pc {
    height: 90%;
}

.h-100-pc {
    height: 100%;
}

.h-150-pc {
    height: 150%;
}

.h-200-pc {
    height: 200%;
}
