@import url(../../all-imports.css);

/* padding: 0.25rem */
.p-0-25 {
    padding: 0.25rem;
}

/* padding left and right 0.25rem */
.px-0-25 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

/* padding left, right 0.25rem */
.pl-0-25 {
    padding-left: 0.25rem;
}

.pr-0-25 {
    padding-right: 0.25rem;
}

/* padding top and bottom 0.25rem */
.py-0-25 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* padding top, bottom 0.25rem */
.pt-0-25 {
    padding-top: 0.25rem;
}

.pb-0-25 {
    padding-bottom: 0.25rem;
}

/* End of padding 0.25rem values */

/* padding: 0.5rem */
.p-0-5 {
    padding: 0.5rem;
}

/* padding left and right 0.5rem */
.px-0-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* padding left, right 0.5rem */
.pl-0-5 {
    padding-left: 0.5rem;
}

.pr-0-5 {
    padding-right: 0.5rem;
}

/* padding top and bottom 0.5rem */
.py-0-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* padding top, bottom 0.5rem */
.pt-0-5 {
    padding-top: 0.5rem;
}

.pb-0-5 {
    padding-bottom: 0.5rem;
}

/* End of padding 0.5rem values */

/* padding: 0.75rem */
.p-0-75 {
    padding: 0.75rem;
}

/* padding left and right 0.75rem */
.px-0-75 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/* padding left, right 0.75rem */
.pl-0-75 {
    padding-left: 0.75rem;
}

.pr-0-75 {
    padding-right: 0.75rem;
}

/* padding top and bottom 0.75rem */
.py-0-75 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

/* padding top, bottom 0.75rem */
.pt-0-75 {
    padding-top: 0.75rem;
}

.pb-0-75 {
    padding-bottom: 0.75rem;
}

/* End of padding 0.75rem values */

/* padding: 1rem */
.p-1 {
    padding: 1rem;
}

/* padding left and right 1rem */
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* padding left, right 1rem */
.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

/* padding top and bottom 1rem */
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* padding top, bottom 1rem */
.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

/* End of padding 1rem values */

/* padding: 1.5rem */
.p-1-5 {
    padding: 1.5rem;
}

/* padding left and right 1.5rem */
.px-1-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* padding left, right 1.5rem */
.pl-1-5 {
    padding-left: 1.5rem;
}

.pr-1-5 {
    padding-right: 1.5rem;
}

/* padding top and bottom 1.5rem */
.py-1-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* padding top, bottom 1.5rem */
.pt-1-5 {
    padding-top: 1.5rem;
}

.pb-1-5 {
    padding-bottom: 1.5rem;
}

/* End of padding 1.5rem values */

/* padding: 2rem */
.p-2 {
    padding: 2rem;
}

/* padding left and right 2rem */
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* padding left, right 2rem */
.pl-2 {
    padding-left: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

/* padding top and bottom 2rem */
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* padding top, bottom 2rem */
.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

/* End of padding 2rem values */

/* padding: 2.5rem */
.p-2-5 {
    padding: 2.5rem;
}

/* padding left and right 2.5rem */
.px-2-5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* padding left, right 2.5rem */
.pl-2-5 {
    padding-left: 2.5rem;
}

.pr-2-5 {
    padding-right: 2.5rem;
}

/* padding top and bottom 2.5rem */
.py-2-5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* padding top, bottom 2.5rem */
.pt-2-5 {
    padding-top: 2.5rem;
}

.pb-2-5 {
    padding-bottom: 2.5rem;
}

/* End of padding 2.5rem values */

/* padding: 3rem */
.p-3 {
    padding: 3rem;
}

/* padding left and right 3rem */
.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* padding left, right 3rem */
.pl-3 {
    padding-left: 3rem;
}

.pr-3 {
    padding-right: 3rem;
}

/* padding top and bottom 3rem */
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* padding top, bottom 3rem */
.pt-3 {
    padding-top: 3rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

/* End of padding 3rem values */

/* padding: 3.5rem */
.p-3-5 {
    padding: 3.5rem;
}

/* padding left and right 3.5rem */
.px-3-5 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

/* padding left, right 3.5rem */
.pl-3-5 {
    padding-left: 3.5rem;
}

.pr-3-5 {
    padding-right: 3.5rem;
}

/* padding top and bottom 3.5rem */
.py-3-5 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

/* padding top, bottom 3.5rem */
.pt-3-5 {
    padding-top: 3.5rem;
}

.pb-3-5 {
    padding-bottom: 3.5rem;
}

/* End of padding 3.5rem values */

/* padding: 4rem */
.p-4 {
    padding: 4rem;
}

/* padding left and right 4rem */
.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* padding left, right 4rem */
.pl-4 {
    padding-left: 4rem;
}

.pr-4 {
    padding-right: 4rem;
}

/* padding top and bottom 4rem */
.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* padding top, bottom 4rem */
.pt-4 {
    padding-top: 4rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

/* End of padding 4rem values */

/* padding: 4.5rem */
.p-4-5 {
    padding: 4.5rem;
}

/* padding left and right 4.5rem */
.px-4-5 {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

/* padding left, right 4.5rem */
.pl-4-5 {
    padding-left: 4.5rem;
}

.pr-4-5 {
    padding-right: 4.5rem;
}

/* padding top and bottom 4.5rem */
.py-4-5 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

/* padding top, bottom 4.5rem */
.pt-4-5 {
    padding-top: 4.5rem;
}

.pb-4-5 {
    padding-bottom: 4.5rem;
}

/* End of padding 4.5rem values */

/* padding: 5rem */
.p-5 {
    padding: 5rem;
}

/* padding left and right 5rem */
.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* padding left, right 5rem */
.pl-5 {
    padding-left: 5rem;
}

.pr-5 {
    padding-right: 5rem;
}

/* padding top and bottom 5rem */
.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* padding top, bottom 5rem */
.pt-5 {
    padding-top: 5rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

/* End of padding 5rem values */

/* padding: 5.5rem */
.p-5-5 {
    padding: 5.5rem;
}

/* padding left and right 5.5rem */
.px-5-5 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

/* padding left, right 5.5rem */
.pl-5-5 {
    padding-left: 5.5rem;
}

.pr-5-5 {
    padding-right: 5.5rem;
}

/* padding top and bottom 5.5rem */
.py-5-5 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

/* padding top, bottom 5.5rem */
.pt-5-5 {
    padding-top: 5.5rem;
}

.pb-5-5 {
    padding-bottom: 5.5rem;
}

/* End of padding 5.5rem values */

/* padding: 6rem */
.p-6 {
    padding: 6rem;
}

/* padding left and right 6rem */
.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

/* padding left, right 6rem */
.pl-6 {
    padding-left: 6rem;
}

.pr-6 {
    padding-right: 6rem;
}

/* padding top and bottom 6rem */
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* padding top, bottom 6rem */
.pt-6 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

/* End of padding 6rem values */

/* padding: 6.5rem */
.p-6-5 {
    padding: 6.5rem;
}

/* padding left and right 6.5rem */
.px-6-5 {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
}

/* padding left, right 6.5rem */
.pl-6-5 {
    padding-left: 6.5rem;
}

.pr-6-5 {
    padding-right: 6.5rem;
}

/* padding top and bottom 6.5rem */
.py-6-5 {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
}

/* padding top, bottom 6.5rem */
.pt-6-5 {
    padding-top: 6.5rem;
}

.pb-6-5 {
    padding-bottom: 6.5rem;
}

/* End of padding 6.5rem values */

/* padding: 7rem */
.p-7 {
    padding: 7rem;
}

/* padding left and right 7rem */
.px-7 {
    padding-left: 7rem;
    padding-right: 7rem;
}

/* padding left, right 7rem */
.pl-7 {
    padding-left: 7rem;
}

.pr-7 {
    padding-right: 7rem;
}

/* padding top and bottom 7rem */
.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

/* padding top, bottom 7rem */
.pt-7 {
    padding-top: 7rem;
}

.pb-7 {
    padding-bottom: 7rem;
}

/* End of padding 7rem values */

/* padding: 7.5rem */
.p-7-5 {
    padding: 7.5rem;
}

/* padding left and right 7.5rem */
.px-7-5 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

/* padding left, right 7.5rem */
.pl-7-5 {
    padding-left: 7.5rem;
}

.pr-7-5 {
    padding-right: 7.5rem;
}

/* padding top and bottom 7.5rem */
.py-7-5 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

/* padding top, bottom 7.5rem */
.pt-7-5 {
    padding-top: 7.5rem;
}

.pb-7-5 {
    padding-bottom: 7.5rem;
}

/* End of padding 7.5rem values */

/* padding: 8rem */
.p-8 {
    padding: 8rem;
}

/* padding left and right 8rem */
.px-8 {
    padding-left: 8rem;
    padding-right: 8rem;
}

/* padding left, right 8rem */
.pl-8 {
    padding-left: 8rem;
}

.pr-8 {
    padding-right: 8rem;
}

/* padding top and bottom 8rem */
.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/* padding top, bottom 8rem */
.pt-8 {
    padding-top: 8rem;
}

.pb-8 {
    padding-bottom: 8rem;
}

/* End of padding 8rem values */
