@import url(../../all-imports.css);


.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.w-max {
    width: max-content;
}

.w-min {
    width: min-content;
}

.w-fit {
    width: fit-content;
}

.w-screen {
    width: 100vw;
}

.w-px {
    width: 1px;
}

.w-0-25 {
    width: 0.25rem;
}

.w-0-5 {
    width: 0.50rem;
}

.w-0-75 {
    width: 0.75rem;
}

.w-1 {
    width: 1rem;
}

.w-1-25 {
    width: 1.25rem;
}

.w-1-5 {
    width: 1.50rem;
}

.w-1-75 {
    width: 1.75rem;
}

.w-2 {
    width: 2rem;
}

.w-2-25 {
    width: 2.25rem;
}

.w-2-5 {
    width: 2.50rem;
}

.w-2-75 {
    width: 2.75rem;
}

.w-3 {
    width: 3rem;
}

.w-3-25 {
    width: 3.25rem;
}

.w-3-5 {
    width: 3.50rem;
}

.w-3-75 {
    width: 3.75rem;
}

.w-4 {
    width: 4rem;
}

.w-4-25 {
    width: 4.25rem;
}

.w-4-5 {
    width: 4.50rem;
}

.w-4-75 {
    width: 4.75rem;
}

.w-5 {
    width: 5rem;
}

.w-5-25 {
    width: 5.25rem;
}

.w-5-5 {
    width: 5.50rem;
}

.w-5-75 {
    width: 5.75rem;
}

.w-6 {
    width: 6rem;
}

.w-6-25 {
    width: 6.25rem;
}

.w-6-5 {
    width: 6.50rem;
}

.w-6-75 {
    width: 6.75rem;
}

.w-7 {
    width: 7rem;
}

.w-7-25 {
    width: 7.25rem;
}

.w-7-5 {
    width: 7.50rem;
}

.w-7-75 {
    width: 7.75rem;
}

.w-8 {
    width: 1rem;
}

.w-8-25 {
    width: 8.25rem;
}

.w-8-5 {
    width: 8.50rem;
}

.w-8-75 {
    width: 8.75rem;
}

.w-9 {
    width: 9rem;
}

.w-9-25 {
    width: 9.25rem;
}

.w-9-5 {
    width: 9.50rem;
}

.w-9-75 {
    width: 9.75rem;
}

.w-10 {
    width: 10rem;
}

.w-10-25 {
    width: 10.25rem;
}

.w-10-5 {
    width: 10.50rem;
}

.w-10-75 {
    width: 10.75rem;
}

.w-11 {
    width: 11rem;
}

.w-11-25 {
    width: 11.25rem;
}

.w-11-5 {
    width: 11.50rem;
}

.w-11-75 {
    width: 11.75rem;
}

.w-12 {
    width: 12rem;
}

.w-12-25 {
    width: 12.25rem;
}

.w-12-5 {
    width: 12.50rem;
}

.w-12-75 {
    width: 12.75rem;
}

.w-13 {
    width: 13rem;
}

.w-13-25 {
    width: 13.25rem;
}

.w-13-5 {
    width: 13.50rem;
}

.w-13-75 {
    width: 13.75rem;
}

.w-14 {
    width: 14rem;
}

.w-14-25 {
    width: 14.25rem;
}

.w-14-5 {
    width: 14.50rem;
}

.w-14-75 {
    width: 14.75rem;
}

.w-15 {
    width: 15rem;
}

.w-15-25 {
    width: 15.25rem;
}

.w-15-5 {
    width: 15.50rem;
}

.w-15-75 {
    width: 15.75rem;
}

.w-16 {
    width: 16rem;
}

.w-16-25 {
    width: 16.25rem;
}

.w-16-5 {
    width: 16.50rem;
}

.w-16-75 {
    width: 16.75rem;
}

.w-17 {
    width: 17rem;
}

.w-17-25 {
    width: 17.25rem;
}

.w-17-5 {
    width: 17.50rem;
}

.w-17-75 {
    width: 17.75rem;
}

.w-18 {
    width: 18rem;
}

.w-18-25 {
    width: 18.25rem;
}

.w-18-5 {
    width: 18.50rem;
}

.w-18-75 {
    width: 18.75rem;
}

.w-19 {
    width: 19rem;
}

.w-19-25 {
    width: 19.25rem;
}

.w-19-5 {
    width: 19.50rem;
}

.w-19-75 {
    width: 19.75rem;
}

.w-20 {
    width: 20rem;
}

.w-20-25 {
    width: 20.25rem;
}

.w-20-5 {
    width: 20.50rem;
}

.w-20-75 {
    width: 20.75rem;
}

.w-21 {
    width: 21rem;
}

.w-21-25 {
    width: 21.25rem;
}

.w-21-5 {
    width: 21.50rem;
}

.w-21-75 {
    width: 21.75rem;
}

.w-22 {
    width: 22rem;
}

.w-22-25 {
    width: 22.25rem;
}

.w-22-5 {
    width: 22.50rem;
}

.w-22-75 {
    width: 22.75rem;
}

.w-23 {
    width: 23rem;
}

.w-23-25 {
    width: 23.25rem;
}

.w-23-5 {
    width: 23.50rem;
}

.w-23-75 {
    width: 23.75rem;
}

.w-24 {
    width: 24rem;
}

.w-24-25 {
    width: 24.25rem;
}

.w-24-5 {
    width: 24.50rem;
}

.w-24-75 {
    width: 24.75rem;
}

.w-25 {
    width: 25rem;
}
