<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/alerts/alerts.css">
    <script src="https://kit.fontawesome.com/fa8f01e628.js" crossorigin="anonymous"></script>
    <title>Alerts</title>
</head>

<body>
    <div class="alert alert-primary m-1 px-1 py-0-5 rounded-md">
        This is an example of primary alert with button link!!
        <a href="#" class="btn-alert-primary ml-0-5">Check it out!</a>
    </div>

    <div class="alert alert-secondary m-1 px-1 py-0-5 rounded-md">
        This is an example of secondary alert!!
    </div>

    <div class="alert alert-success m-1 px-1 py-0-5 rounded-md">
        <span>
            <i class="mx-0-5 fa-solid fa-circle-check"></i>
        </span>
        This is an example of success alert!!
    </div>

    <div class="alert alert-error m-1 px-1 py-0-5 rounded-md">
        <span>
            <i class="mx-0-5 fa-solid fa-bug"></i>
        </span>
        This is an example of error alert!!
    </div>

    <div class="alert alert-warning m-1 px-1 py-0-5 rounded-md">
        <span>
            <i class="mx-0-5 fa-solid fa-triangle-exclamation"></i>
        </span>
        This is an example of warning alert!!
    </div>
</body>

</html>