html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--color-text-primary);
    scroll-behavior: smooth;
    word-wrap: break-word;
}

body {
    background-color: var(--color-bg);
    min-height: 100vh;
    width: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    font: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a,
i {
    text-decoration: none;
    display: inline-block;
}

button, a {
    cursor: pointer;
    background-color: unset;
}

.icon,
i {
    /* pointer-events: none; */
}

ol,
ul {
    list-style: none;
}

/* font utilities */
p,
div,
section,
aside,
footer,
header,
nav,
main {
    font-weight: var(--weight-regular);
    font-size: var(--text-md);
    line-height: var(--line-ht-md);
}

a {
    font-weight: var(--weight-regular);
    font-size: inherit;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--weight-bold);
}

h1,
.h1 {
    font-size: var(--h1);
    line-height: var(--line-ht-xxl);
}

h2,
.h2 {
    font-size: var(--h2);
    line-height: var(--line-ht-xl);
}

h3,
.h3 {
    font-size: var(--h3);
    line-height: var(--line-ht-lg);
}

h4,
.h4 {
    font-size: var(--h4);
    line-height: var(--line-ht-lg);
}

h5,
.h5 {
    font-size: var(--h5);
    line-height: var(--line-ht-md);
}

h6,
.h6 {
    font-size: var(--h6);
    line-height: var(--line-ht-sm);
}

/* Font weights */
.font-thin {
    font-weight: var(--weight-thin);
}

.font-light {
    font-weight: var(--weight-light);
}

.font-regular {
    font-weight: var(--weight-regular);
}

.font-sbold {
    font-weight: var(--weight-sbold);
}

.font-bold {
    font-weight: var(--weight-bold);
}

.xbold {
    font-weight: var(--weight-xbold);
}

/* Font Sizes */

.text-xxs {
    font-size: var(--text-xxs);
    line-height: var(--line-ht-xxs);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: var(--line-ht-xs);
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--line-ht-sm);
}

.text-sm-2 {
    font-size: var(--text-sm-2);
    line-height: var(--line-ht-sm-2);
}

.text-md {
    font-size: var(--text-md);
    line-height: var(--line-ht-md);
}

.text-md-2 {
    font-size: var(--text-md-2);
    line-height: var(--line-ht-md-2);
}

.text-lg {
    font-size: var(--text-lg);
    line-height: var(--line-ht-lg);
}

.text-xl {
    font-size: var(--text-xl);
    line-height: var(--line-ht-xl);
}

.text-xxl {
    font-size: var(--text-xxl);
    line-height: var(--line-ht-xxl);
}

.text-xxxl {
    font-size: var(--text-xxxl);
    line-height: var(--line-ht-xxxl);
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Positions */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
   position: fixed;
}

.sticky {
    position: sticky;
}

.static {
    position: static;
}

/* Color Utility Classes */

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-tertiary {
    color: var(--color-tertiary);
}

.color-faded {
    color: var(--gray-7);
}

/* Others */

.pointer {
    cursor: pointer;
}
